name = "mehr"
main = "_worker.js"
compatibility_date = "2024-09-23"
compatibility_flags = ["nodejs_compat"]
account_id = "9ae2615c3dabf175032082cbdd1ca950"

[[rules]]
type = "Text"
globs = ["**/*.html"]
fallthrough = true

[[d1_databases]]
binding = "DB"
database_name = "super_panel_db"
database_id = "YOUR_D1_DATABASE_ID_HERE"
